# Protocol Buffer 格式化配置
Language: Proto
BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 120
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: Empty
KeepEmptyLinesAtTheStartOfBlocks: false
SortIncludes: true
SpaceAfterCStyleCast: true
SpacesBeforeTrailingComments: 2